@use "../../abstracts/mixins" as *;

.testimonials {
  margin-block: 7.5rem;

  &__header {
    text-align: center;
    font-size: clamp(1.5rem, 2vw + 1.5em, 2.5rem);
  }

  &__wrapper {
    margin-block: 2rem;
  }

  &__btn-wrapper {
    text-align: center;
  }
}
